*{
    font-family: 'Inter', sans-serif;
  }
  body {
    background: linear-gradient(135deg, #D59B83, #ffffff);
    background-attachment: fixed;
  }
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  
  /* Contenedor de afuera*/
  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  /* Contenedor confirmar y cambiar*/
  .submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(183, 183, 183, 0.9); /* Color del botón */
    cursor: pointer;
    transition: .3s;
  }
  .submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.6);
  }

  /*input de correo y usuario*/
  .input {
    width: 100%;
    height: 30px;
    padding: 20px 0px 20px 40px;
    border-radius: 999px;
    border: solid 1px #828282;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }