<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="restaurante; else divLoading" class="grid p-2">
<!--{{ hotel | json }}-->
    <mat-card class="col-12 sm:col-6">
        <mat-card-header>
          <mat-card-title>{{ restaurante.nombre }}</mat-card-title>
          <mat-card-subtitle> {{restaurante.categoria }}</mat-card-subtitle>
        </mat-card-header>

       <img [src]="restaurante | restauranteImage" [alt]="restaurante.nombre" mat-card-image />

    </mat-card>
    <mat-card class="col-12 sm:col-6">
          <mat-card-header>
            <mat-card-title>Información</mat-card-title>
            <mat-card-subtitle>{{restaurante.categoria}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <mat-list>
                <mat-list-item>{{restaurante.tipologia}}</mat-list-item>
                <mat-list-item>{{restaurante.localizacion}}</mat-list-item>
                <mat-list-item>{{restaurante.descripcion}}</mat-list-item>
                <mat-list-item>{{restaurante.accesibilidad}}</mat-list-item>
                <mat-list-item>{{restaurante.infraestructura}}</mat-list-item>
                <mat-list-item>{{restaurante.servicios}}</mat-list-item>
                <mat-list-item>{{restaurante.costo}}</mat-list-item>
                <mat-list-item>{{restaurante.contacto}}</mat-list-item>
            </mat-list>

            <button
              mat-button
              color="warning"
              (click)="goBack()"
              >
              Regresar
            </button>
          </mat-card-content>
    </mat-card>
</div>

