<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="hotel; else divLoading" class="grid p-2">
<!--{{ hotel | json }}-->
    <mat-card class="col-12 sm:col-6">
        <mat-card-header>
          <mat-card-title>{{ hotel.nombre }}</mat-card-title>
          <mat-card-subtitle> {{hotel.categoria }}</mat-card-subtitle>
        </mat-card-header>

       <img [src]="hotel | hotelImage" [alt]="hotel.nombre" mat-card-image />

    </mat-card>
    <mat-card class="col-12 sm:col-6">
          <mat-card-header>
            <mat-card-title>Información</mat-card-title>
            <mat-card-subtitle>{{hotel.categoria}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <mat-list>
                <mat-list-item>{{hotel.tipologia}}</mat-list-item>
                <mat-list-item>{{hotel.localizacion}}</mat-list-item>
                <mat-list-item>{{hotel.descripcion}}</mat-list-item>
                <mat-list-item>{{hotel.accesibilidad}}</mat-list-item>
                <mat-list-item>{{hotel.num_habitaciones}}</mat-list-item>
                <mat-list-item>{{hotel.actividades}}</mat-list-item>
                <mat-list-item>{{hotel.num_visitante_ideal}}</mat-list-item>
                <mat-list-item>{{hotel.fecha_ideal_visita}}</mat-list-item>
                <mat-list-item>{{hotel.segmento_mercado_potencial}}</mat-list-item>
                <mat-list-item>{{hotel.contacto}}</mat-list-item>
            </mat-list>

            <button
              mat-button
              color="warning"
              (click)="goBack()"
              >
              Regresar
            </button>
          </mat-card-content>
    </mat-card>
</div>

<div *ngIf="hotel; else divLoading" class="grid p-2">
  <!--{{ hotel | json }}-->
      <mat-card class="col-12 sm:col-6">
          <mat-card-header>
            <mat-card-title>{{ hotel.nombre }}</mat-card-title>
            <mat-card-subtitle> {{hotel.categoria }}</mat-card-subtitle>
          </mat-card-header>

         <img [src]="hotel | hotelImage" [alt]="hotel.nombre" mat-card-image />

      </mat-card>
      <mat-card class="col-12 sm:col-6">
            <mat-card-header>
              <mat-card-title>Información</mat-card-title>
              <mat-card-subtitle>{{hotel.categoria}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <mat-list>
                  <mat-list-item>{{hotel.tipologia}}</mat-list-item>
                  <mat-list-item>{{hotel.localizacion}}</mat-list-item>
                  <mat-list-item>{{hotel.descripcion}}</mat-list-item>
                  <mat-list-item>{{hotel.accesibilidad}}</mat-list-item>
                  <mat-list-item>{{hotel.num_habitaciones}}</mat-list-item>
                  <mat-list-item>{{hotel.actividades}}</mat-list-item>
                  <mat-list-item>{{hotel.num_visitante_ideal}}</mat-list-item>
                  <mat-list-item>{{hotel.fecha_ideal_visita}}</mat-list-item>
                  <mat-list-item>{{hotel.segmento_mercado_potencial}}</mat-list-item>
                  <mat-list-item>{{hotel.contacto}}</mat-list-item>
              </mat-list>

              <button
                mat-button
                color="warning"
                (click)="goBack()"
                >
                Regresar
              </button>
            </mat-card-content>
      </mat-card>
  </div>
