<h1>
  {{ currentItinerario.id ? 'Editar' : 'Agregar' }}
  Experiencia
  <small *ngIf="currentItinerario.id">{{ currentItinerario.nombre }}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="itinerarioForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text
              required"
              formControlName="nombre"/>
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Día</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="dia"/>
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Hora</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="hora" />
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Actividades</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="actividades"/>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Alternative Image</mat-label>
            <input
              matInput
              type="text"
              formControlName="alt_img" />
          </mat-form-field>
        </form>
        <div class="flex justify-content-between">
          <button
            *ngIf="currentItinerario.id"
            (click) = "onDeleteItinerario()"
            mat-flat-button
          >
            Borrar
          </button>
          <button
            mat-fab extended
            (click)="onSubmit()"
            >
              <mat-icon>save</mat-icon>
              Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 sm:col-6">
    <mat-card>
      <img mat-card-image [src]="currentItinerario | itinerarioImage" alt="imagen del itinerario">
    </mat-card>
  </div>
</div>

