<br /><br /><br /><br />
<!-- Selección -->

<div class="container">
  <h1>Formulario de Paquete Turístico</h1>
  <form action="/submit" method="post">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required>

    <label for="phone">Teléfono:</label>
    <input type="tel" id="phone" name="phone" required>

    <p>Seleccione el hotel que desea incluir en su paquete:</p>
    <div class="checkbox-group">
      <label>
        <input type="radio" id="hotel1" name="services" value="hotel1">
        Hotel 1
      </label>
      <label>
        <input type="radio" id="hotel2" name="services" value="hotel2">
        Hotel 2
      </label>
      <label>
        <input type="radio" id="hotel3" name="services" value="hotel3">
        Hotel 3
      </label>

      <p>Seleccione los museos que desea incluir en su paquete:</p>
      <label>
        <input type="checkbox" id="tour1" name="museo1" value="tour1">
        Museo 1
      </label>
      <label>
        <input type="checkbox" id="tour2" name="museo1" value="tour2">
        Museo 2
      </label>
      <label>
        <input type="checkbox" id="tour3" name="museo1" value="tour3">
        Museo 3
      </label>

    <p>Seleccione los restaurantes que desea incluir en su paquete:</p>
      <label>
        <input type="checkbox" id="rest1" name="restaurant1" value="rest1">
        Restaurante 1
      </label>
      <label>
        <input type="checkbox" id="rest2" name="restaurant2" value="rest2">
        Restaurante 2
      </label>
      <label>
        <input type="checkbox" id="rest3" name="restaurant3" value="rest3">
        Restaurante 3
      </label>

      <p>Seleccione el transporte:</p>
      <select class="form-select form-select-sm" aria-label="Small select example">
        <option>Seleccionar transporte</option>
        <option>Coche</option>
        <option>Avión</option>
        <option>Tren</option>
      </select><br>
    </div>

    <p>Seleccione una agencia de viajes:</p>
    <div class="radio-group">
      <label>
        <input type="radio" id="agency1" name="agency" value="agency1" required>
        Agencia de Viajes 1
      </label>

      <label>
        <input type="radio" id="agency2" name="agency" value="agency2">
        Agencia de Viajes 2
      </label>

      <label>
        <input type="radio" id="agency3" name="agency" value="agency3">
        Agencia de Viajes 3
      </label>
    </div>
    <input type="submit" value="Enviar">
  </form>
</div>