<br /><br /><br />


<div class="container">
  <h1>Formulario de Paquete Turístico Personalizado</h1>
  <form action="/submit" method="post">
    <p>Seleccione el hotel que desea incluir en su paquete:</p>
    <div class="grid bm-8">
      <div *ngFor="let hotel of hoteles" class="card-column">
        <personalizado-hotel-card [hotel]="hotel"></personalizado-hotel-card>
      </div>
    </div>
    <hr>

    <p>Seleccione el/los restaurantes que desea incluir en su paquete:</p>
    <div class="grid bm-8">
      <div *ngFor="let restaurante of restaurantes" class="card-column">
        <personalizado-restaurante-card [restaurante]="restaurante"></personalizado-restaurante-card>
      </div>
    </div>
    <hr>

    <!-- <p>Seleccione los atractivos culturales que desea incluir en su paquete:</p>
    <div class="grid bm-8">
      <div *ngFor="let cultural of culturales" class="card-column">
        <personalizado-cultural-card [cultural]="cultural"></personalizado-cultural-card>
      </div>
    </div>
    <hr> -->

    <p>Seleccione los atractivos culturales que desea incluir en su paquete:</p>
    <div class="grid bm-8">
      <div *ngFor="let agencia of agencias" class="card-column">
        <personalizado-agencia-card [agencia]="agencia"></personalizado-agencia-card>
      </div>
    </div>
    <hr>

    <input type="submit" value="Enviar" class="submit-button">
  </form>
</div>

