<!-- <mat-card>
  <mat-card-header>
    <mat-card-title> {{ itinerario.nombre }} </mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="itinerario | itinerarioImage" [alt]="itinerario.nombre">


  <mat-card-content class="mt-2">
    <p>
      <br>
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of
        itinerario.nombre.split(',') | slice:0:3">
        {{ name }}
        </mat-chip>
      </mat-chip-listbox>
    </p>

  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button
    mat-raised
    color="primary"
    [routerLink]="['/administrador/editariti',itinerario.id]">
    <mat-icon>edit</mat-icon>
    Editar
    </button>
    <span class="spacer"></span>
    <button mat-button
    mat-raised
    [routerLink]="['/administrador/itinerarios',itinerario.id]">
    <mat-icon>more_horiz</mat-icon>
    Más
    </button>
  </mat-card-actions>
</mat-card>
 -->

 <mat-card class="agency-card">
  <mat-card-header class="agency-card-header">
    <mat-card-title class="agency-card-title">{{ itinerario.nombre }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="itinerario | itinerarioImage" [alt]="itinerario.nombre" class="agency-card-image">

  <mat-card-content class="agency-card-content">
    <strong>Nombre:</strong> {{ itinerario.nombre }}
    <br />
    <div class="agency-chip-list">
      <mat-chip *ngFor="let name of itinerario.nombre.split(',') | slice:0:3" class="agency-chip">
        {{ name }}
      </mat-chip>
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions class="agency-card-actions">
    <button mat-stroked-button class="agency-card-button" [routerLink]="['/administrador/editariti', itinerario.id]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <span class="spacer"></span>
    <button mat-stroked-button class="agency-card-button" [routerLink]="['/administrador/itinerarios', itinerario.id]">
      <mat-icon>more_horiz</mat-icon>
      Más
    </button>
  </mat-card-actions>
</mat-card>
