<br>
<h1>Listado de Naturales</h1>
<mat-divider></mat-divider>
<div class="grid bm-8">
  <div *ngFor="let natural of naturales"
  class="col-12 sm:col-4 md:col-3 xl:col-2">
   <naturales-natural-card [natural]="natural"></naturales-natural-card>
<!-- Llama al card.component.ts -->
  </div>
</div>

<h1>Listado de Culturales</h1>
<mat-divider></mat-divider>
<div class="grid bm-8">
  <div *ngFor="let cultural of culturales" class="col-12 sm:col-3 xl:col-2">
    <culturales-cultural-card [cultural]="cultural"></culturales-cultural-card>
  </div>

</div>
