<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atractivos</title>
</head>

<body>
  <br><br>
  <h1>Culturales</h1>


  <div class="container">
    <div class="card">
      <img src="https://www.mexicoenfotos.com/MX12182345558048.jpg"
        class="card-image" />
      <h2 class="card-title">Monumento a Los Héroes de la Independencia</h2>
      <p class="card-description">
        Descripción breve del lugar 1. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img
        src="https://www.mexicodesconocido.com.mx/sites/default/files/nodes/inline/dolores-hidalgo-mexico-guanajuato.jpg"
        class="card-image" />
      <h2 class="card-title">Parroquia Nuestra Señora de los Dolores</h2>
      <p class="card-description">
        Descripción breve del lugar 2. Conocido por su belleza natural y sus
        paisajes impresionantes.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://0201.nccdn.net/4_2/000/000/038/2d3/atardecer-en-el-museo-1080x720.jpg" class="card-image" />
      <h2 class="card-title">Museo del Vino</h2>
      <p class="card-description">
        Descripción breve del lugar 3. Un destino popular para los amantes de
        la cultura y la historia.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://static.wixstatic.com/media/de9a20_c31938c599a54547a82ced3a99d7b13d~mv2.jpg/v1/fill/w_560,h_280,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/que-hacer-el-museo-del-bicentenario-316-.jpg"
        class="card-image" />
      <h2 class="card-title">Casa de Abasolo</h2>
      <p class="card-description">
        Descripción breve del lugar 1. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://www.vamosaconocer.com/wp-content/uploads/2021/09/6-1.png"
        class="card-image" />
      <h2 class="card-title">Casa-Museo José Alfredo Jiménez</h2>
      <p class="card-description">
        Descripción breve del lugar 1. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://i0.wp.com/masdeaca.com/wp-content/uploads/2015/12/llanito-cronista-2.jpg"
        class="card-image" />
      <h2 class="card-title">El Llanito</h2>
      <p class="card-description">
        Descripción breve del lugar 1. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
  </div>


  <h1>Naturales</h1>

  <div class="container">
    <div class="card">
      <img src="https://www.paginazero.com.mx/sites/default/files/2022-08/Pagina%20Zero%20-%20Cuna%20de%20Tierra%20VI%C3%91EDO%20EN%20DOLORES%20HIDALGO.jpg" class="card-image" />
      <h2 class="card-title">Ruta del Vino</h2>
      <p class="card-description">
        Descripción breve del lugar 4. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://cunadetierra.com.mx/wp-content/uploads/2015/01/tours4.png" class="card-image" />
      <h2 class="card-title">Cuna de Tierra</h2>
      <p class="card-description">
        Descripción breve del lugar 5. Conocido por su belleza natural y sus
        paisajes impresionantes.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://cdn0.bodas.com.mx/vendor/3663/3_2/960/jpg/15082021-dsc-4426_5_233663-169163144724450.jpeg" class="card-image" />
      <h2 class="card-title">Tres Raíses</h2>
      <p class="card-description">
        Descripción breve del lugar 6. Un destino popular para los amantes de
        la cultura y la historia.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://www.gob.mx/cms/uploads/article/main_image/85557/Dolores-Hidalgo_Guanajuato-Jardi_n-Independencia-web.jpg"
        class="card-image" />
      <h2 class="card-title">Jardín Independencia</h2>
      <p class="card-description">
        Descripción breve del lugar 1. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/b8/7d/0a/edificio-basico-para.jpg?w=1200&h=-1&s=1"
        class="card-image" />
      <h2 class="card-title"> Museo de la Independencia</h2>
      <p class="card-description">
        Descripción breve del lugar 1. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
    <div class="card">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/b8/63/69/un-hermoso-arbol.jpg?w=1200&h=-1&s=1"
        class="card-image" />
      <h2 class="card-title">Lugar 1</h2>
      <p class="card-description">
        Descripción breve del lugar 1. Un lugar maravilloso con muchas
        atracciones turísticas.
      </p>
      <details>
        <summary>Leer Más</summary>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          labore dicta vel dolores officia cumque ea, commodi magni inventore
          voluptatem tempora neque a sed? Fugiat eum dolore numquam obcaecati
          corrupti!
        </p>
      </details>
    </div>
  </div>
</body>

</html>
