/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif; /* Cambié la fuente a Roboto */
  margin: 0;
  padding: 0;
  background-color: #eaeaea; /* Un tono gris claro para el fondo */
}

/* Estilo para los títulos */
h1 {
  color: #2c3e50; /* Color más oscuro para los títulos */
  text-align: center;
  margin: 20px 0; /* Espacio alrededor del título */
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  text-transform: uppercase; /* Transformar texto a mayúsculas */
}

/* Estilo para el divisor */
mat-divider {
  margin: 10px auto; /* Espaciado y centrado */
  width: 50%; /* Ancho del divisor */
  background-color: #3498db; /* Color azul para el divisor */
}

/* Estilo para las grillas */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px; /* Espacio lateral */
  gap: 15px; /* Espacio entre las tarjetas */
}

/* Estilo para las columnas */
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.sm\:col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.md\:col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.xl\:col-2 {
  flex: 0 0 16.66%;
  max-width: 16.66%;
}

/* Espaciado general entre secciones */
.bm-8 {
  margin-bottom: 40px; /* Margen inferior para separar secciones */
}
