<body>
    <div class="introduccion">
      <p>CONOCE LA CIUDAD DE DOLORES HIDALGO C.I.N.</p>
    </div>

    <div class="presentacion">
      <p>
        ESTE PUEBLO MÁGICO ES PATRIMONIO HISTÓRICO Y CUNA DE LA INDEPENDENCIA. PRESERVA SECRETOS, COMO LA CATEDRAL,
        TESTIGO SILENCIOSO QUE GUARDA ENTRE SUS MUROS EL SONIDO DE LA VOZ DEL CURA MIGUEL HIDALGO CUANDO DIÓ EL GRITO
        DE INDEPENDENCIA. MIENTRAS CAMINAS POR ESTE ENCANTADOR E INTERESANTE PUEBLO, LLENO DE MUSEOS Y MONUMENTOS QUE
        NARRAN LA HISTORIA DE MÉXICO, DEJATE CAUTIVAR POR ESTE LUGAR REPLETO DE TRADICIONES Y CULTURA, DONDE CADA RINCÓN
        TE TRANSPORTA A ÉPOCAS PASADAS Y TE INVITA A DESCUBRIR LOS DETALLES DE UNA HERENCIA QUE SIGUE VIVA EN EL
        PRESENTE.
      </p>
    </div>

  </body>
